.ntg-social-share {
    &__link {
      width: 35px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px 5px;
      border: 2px solid $semantic-colours-border-blue-500;
      color: $semantic-colours-btn-label-text-blue-500;
      text-decoration: none;
      transition: 0.2s background-color ease-in-out;
      border-radius: 4px;
  
      i {
        color: $semantic-colours-btn-label-text-blue-500 !important;
        font-size: 1rem;
  
      }
  
      &:hover, &:focus {
        text-decoration: none;
        background-color: $semantic-colours-btn-label-text-blue-500;
  
        i {
          color: $white !important;
        }
      }

      &::after{
        content: '' !important;
        padding: 0 !important;
      }
    }
  }
  
  .copied-alert {
    position: absolute;
    bottom: calc(100% + 1rem);
    right: 0;
    transform: translateX(50%);
  
    > span {
      white-space: nowrap;
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.45s ease-in 1;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  