.table {
  border-radius: $rounding-rounded-lg;
  border: 2px solid $semantic-colours-bg-secondary-grey-200;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;

  & > tbody > tr > td {
    border-bottom: 1px solid $semantic-colours-bg-secondary-grey-100;
    border-left: none;
    border-right: none;
    padding: $padding-p-4 $padding-p-6;
  }

  & > thead > tr > th {
    background-color: $semantic-colours-bg-secondary-grey-200;
    border: none; // <-- Prevent cell borders from interfering
    padding: $padding-p-4 $padding-p-6;
  }

  &.table-striped {
    --bs-table-striped-bg: var($semantic-colours-bg-secondary-grey-100);

    & > :not(caption) > thead > tr > :nth-child(even) {
      background-color: $semantic-colours-bg-secondary-grey-200;
    }
  }

  .table-striped-columns {
    --bs-table-striped-bg: var($semantic-colours-bg-secondary-grey-100);

    // Ensure th is always uniform, not striped
    & thead > tr > th {
      background-color: $semantic-colours-bg-secondary-grey-200 !important;
    }

    & tbody > tr > td {
      border-bottom: none !important;
    }
  }

  &.table-highlight {
    & > thead > tr > th {
      background-color: $semantic-colours-bg-primary-charcoal-500;
      color: $semantic-colours-text-contrast-colour;
    }
  }
}
